/* bryx design color pallete for bui4 as defined in https://design.bryx.com */

:root {
    --color-fire-engine-red: #8f0808;
    --color-bittersweet: #ff6565;
    --color-fire-red: #c61a1b;
    --color-red: #f32020;
    --color-misty-rose: #fae5e5;
    --color-chocolate: #4f0e13;
    --color-off-white: #fcfcfc;
    --color-white-smoke: #ebebeb;
    --color-anit-flash-white: #eeeeee;
    --color-timberwolf: #d1cbcb;
    --color-rose-taupe: #7e5858;
    --color-gray: #737373;
    --color-dim-gray: #828282;
    --color-battleship-gray: #878787;
    --color-jet: #292929;
    --color-licorice: #230808;
    --color-snow: #fff9f9;
    --color-cadet-gray: #a1a1a1;
    --color-dark-spring-green: #008059;
    --color-mint-green: #e2fef6;
    --color-redwood: #ad5858;
    --color-burnt-orange: #c25100;
    --color-silver: #cab9b9;
    --color-silver-screen: #c0b9b9;
    --color-seashell: #fcf4ed;
    --color-dark-goldenrod: #b38c00;
    --color-sea-green: #00855d;
    --color-celtic-blue: #0069cc;
    --color-dark-violet: #9700cc;
    --color-peach: #fcf4ed;
    --color-black-licorice: #150303;
    --color-eerie-black: #1f1f1f;
    --color-van-dyke: #463434;
    --color-emerald: #00d696;
    --color-dark-green: #002619;
    --color-spanish-orange: #f56600;
    --color-black-bean: #36180d;
    --color-orange: #ef8940;
    --color-aureolin: #fff135;
    --color-argentinian-blue: #70baff;
    --color-heliotrope: #d35cff;

    /* * * * */

    --bui-brand-light: var(--color-fire-engine-red);
    --bui-brand-dark: var(--color-bittersweet);
    --bui-cta-light: var(--color-fire-red);
    --bui-cta-dark: var(--color-red);
    --bui-component-bg-light: var(--color-misty-rose);
    --bui-component-bg-dark: var(--color-chocolate);
    --bui-misc-support-light: var(--color-chocolate);
    --bui-misc-support-dark: var(--color-misty-rose);
    --bui-bg-light: var(--color-off-white);
    --bui-bg-dark: var(--color-black-licorice);
    --bui-bg-secondary-light: var(--color-white-smoke);
    --bui-bg-secondary-dark: var(--color-jet);
    --bui-bg-disabled-light: var(--color-anit-flash-white);
    --bui-bg-disabled-dark: var(--color-eerie-black);
    --bui-shadow-light: var(--color-timberwolf);
    --bui-shadow-dark: var(--color-van-dyke);
    --bui-highlight-light: var(--color-rose-taupe);
    --bui-highlight-dark: var(--color-redwood);
    --bui-neutral-light: var(--color-gray);
    --bui-neutral-dark: var(--color-cadet-gray);
    --bui-neutral-secondary-light: var(--color-battleship-gray);
    --bui-neutral-secondary-dark: var(--color-dim-gray);
    --bui-text-light: var(--color-licorice);
    --bui-text-dark: var(--color-snow);
    --bui-text-secondary-light: var(--color-gray);
    --bui-text-secondary-dark: var(--color-cadet-gray);
    --bui-primary-neutral-light: var(--color-gray);
    --bui-primary-neutral-dark: var(--color-cadet-gray);
    --bui-secondary-neutral-light: var(--color-battleship-gray);
    --bui-secondary-neutral-dark: var(--color-dim-gray);
    --bui-text-tertiary-light: var(--color-snow);
    --bui-text-tertiary-dark: var(--color-licorice);
    --bui-text-side-nav-light: var(--color-silver);
    --bui-text-side-nav-dark: var(--color-silver-screen);
    --bui-success-light: var(--color-dark-spring-green);
    --bui-success-dark: var(--color-emerald);
    --bui-bg-success-light: var(--color-mint-green);
    --bui-bg-success-dark: var(--color-dark-green);
    --bui-error-light: var(--color-burnt-orange);
    --bui-error-dark: var(--color-spanish-orange);
    --bui-error-bg-light: var(--color-peach);
    --bui-error-bg-dark: var(--color-black-bean);
}
